In [3]:
import numpy as np
import pandas as pd
import requests

In [20]:
def get_a_token():
    '''http://120.52.31.39/#/compMap'''
    client_secret = 'aa9001532bd34279a97e3b01bf6173f9'
    client_id = '22a42f65c8c44724b5703efd54bf5782'
    res = requests.get('http://120.52.31.39/cloudapi/oauth/token?client_id=%s&client_secret=%s' 
                       % (client_id, client_secret))
    return res.json()['access_token']

def address_to_location(address):
    url = 'http://120.52.31.39/cloudapi/service/api/egis/base/v1/wgcs/geocode'
    parameters = {
        'layer': 'baidu',
        'address': address,
        'format': 'json',
        'client_id': '22a42f65c8c44724b5703efd54bf5782',
        'access_token': get_a_token()
    }
    location = requests.get(url=url, params=parameters).json()
    try:
        return location['result']['location']['lng'], location['result']['location']['lat']
    except TypeError:
        return None, None

if __name__ == '__main__':
    data = pd.DataFrame(data, columns=['城市', 'lng', 'lat'])
    for i in range(data.shape[0]):
        data.loc[i, 'lng'], data.loc[i, 'lat'] = address_to_location(data.loc[i, '城市'])

In [14]:
city = ['上海', '南京', '无锡', '常州', '苏州', '南通', '盐城', '扬州', '镇江', '泰州', '杭州', '宁波', '绍兴', '湖州', '嘉兴', '金华', '舟山', '台州', '合肥', '芜湖', '马鞍山', '铜陵', '安庆', '宣城', '池州', '滁州', '广州', '深圳', '佛山', '东莞', '惠州', '中山', '珠海', '江门', '肇庆', '汕尾', '清远', '云浮', '河源', '韶关', '北京', '天津', '张家口', '承德', '秦皇岛', '唐山', '沧州', '衡水', '廊坊', '保定', '石家庄', '邢台', '邯郸']

In [23]:
# pd.DataFrame(data, columns=['城市', 'lng', 'lat'])

In [21]:
data

     城市         lng        lat
0    上海  121.469478  31.231944
1    南京  118.790815  32.060374
2    无锡  120.307391  31.494988
3    常州  119.970248  31.811738
4    苏州  120.581823  31.299487
5    南通  120.890784  31.983071
6    盐城  120.156049  33.350734
7    扬州  119.407520  32.396279
8    镇江  119.418553  32.190477
9    泰州  119.918263  32.457124
10   杭州  120.204461  30.249526
11   宁波  121.617901  29.863021
12   绍兴  120.574917  30.032835
13   湖州  120.083129  30.895044
14   嘉兴  120.752681  30.747402
15   金华  119.642296  29.081277
16   舟山  122.202842  29.987603
17   台州  121.416572  28.658952
18   合肥  117.221517  31.822300
19   芜湖  118.427619  31.354053
20  马鞍山  118.501822  31.672592
21   铜陵  117.806660  30.947494
22   安庆  117.064272  30.541394
23   宣城  118.753877  30.943019
24   池州  117.486535  30.666961
25   滁州  118.327574  32.256972
26   广州  113.259670  23.131777
27   深圳  114.052886  22.545517
28   佛山  113.116518  23.024453
29   东莞  113.746807  23.023723
30   惠州  114.412033  23.113199
31   中山  113.387518  22.518690
32   珠海  113.570960  22.273915
33   江门  113.076550  22.581492
34   肇庆  112.459745  23.049421
35   汕尾  115.370059  22.788235
36   清远  113.050518  23.684460
37   云浮  112.039679  22.917656
38   河源  114.696298  23.746150
39   韶关  113.591810  24.813160
40   北京  116.400758  39.903196
41   天津  117.196705  39.086795
42  张家口  114.879890  40.766218
43   承德  117.956673  40.949920
44  秦皇岛  119.596230  39.934791
45   唐山  118.173721  39.629093
46   沧州  116.833211  38.303841
47   衡水  115.663113  37.738262
48   廊坊  116.678083  39.536500
49   保定  115.458683  38.873000
50  石家庄        None       None
51   邢台  114.499096  37.070123
52   邯郸  114.533272  36.625521